<body>
<div class="container">
  <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">

              <div class="card-body">
                  <h3 class="card-title text-center">Trainer SignUp</h3>
                  <form class="form-signin">
                      <div class="form-label-group">
                          <input type="password" id="FullName" class="form-control" placeholder="FullName"
                              required autofocus>
                          <label for="FullName">FullName</label>
                      </div>
                      <div class="form-label-group">
                          <input type="email" id="inputEmail1" class="form-control" placeholder="Email address"
                              required autofocus>
                          <label for="inputEmail1">Email address</label>
                      </div>
                      <div class="form-label-group">
                          <input type="password" id="inputPassword1" class="form-control" placeholder="Password"
                              required>
                          <label for="inputPassword1">Password</label>
                      </div>
                      <div class="form-label-group">
                          <input type="confirmPassword" id="inputPassword2" class="form-control"
                              placeholder="Email address" required autofocus>
                          <label for="inputPassword2">Confirm Password</label>
                      </div>
                      <div class="form-label-group">
                          <input type="text" id="phone" class="form-control" placeholder="Phone" required
                              autofocus>
                          <label for="phone">Phone</label>
                      </div>
                      <div class="form-label-group">
                          <input type="text" id="linkedin" class="form-control" placeholder="Linkedin" required
                              autofocus>
                          <label for="linkedin">Linkedin URL</label>
                      </div>
                      <div class="form-label-group">
                          <input type="text" id="experience" class="form-control" placeholder="Experience"
                              required autofocus>
                          <label for="experience">Experience</label>
                      </div>


                      <div class="form-label-group text-center">
                          <label class="font-weight-bold">Timings</label><br><br>
                          <input type="radio" name="Timings" value="9-12"> 9am-12pm &nbsp;
                          <input type="radio" name="Timings" value="12-3"> 12pm-3pm &nbsp;
                          <input type="radio" name="Timings" value="3-6"> 3pm-6pm
                      </div>
                      <div class="form-label-group text-center ">
                          <label class="font-weight-bold">List Of Technologies</label><br><br>
                          <input type="checkbox" name="Java" value="Java"> Java FSE &nbsp;
                          <input type="checkbox" name="DotNet" value="DotNet"> DotNet FSE &nbsp;
                          <input type="checkbox" name="MeanStack" value="MeanStack"> Mean Stack
                      </div>

                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                          up</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</body>